#pragma once

// --- WiFi Credentials ---
// #define WIFI_SSID "YourWiFiNetworkName"
// #define WIFI_PASSWORD "YourWiFiPassword"

// --- MQTT ---
// #define MQTT_HOST "192.168.1.100"
// #define MQTT_PORT 1883
// #define MQTT_USER "user"
// #define MQTT_PASSWORD "password"
// #define MQTT_TOPIC_PREFIX "side-eye"
