# Based on ripgrep's release action:
# https://github.com/BurntSushi/ripgrep/blob/master/.github/workflows/release.yml

name: release
on:
  workflow_dispatch:
    inputs:
      fake_version:
        description: 'Fake version for testing (e.g. 0.1.0)'
        required: false
        default: '0.0.0-test'
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  create-release:
    name: create-release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - uses: actions/checkout@v6
      - name: Get the release version
        id: get_version
        shell: bash
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "version=${{ inputs.fake_version }}" >> $GITHUB_OUTPUT
          else
            echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
          fi
      - name: Show the version
        run: |
          echo "version is: ${{ steps.get_version.outputs.version }}"
      - name: Check that tag version matches Cargo.toml version
        if: github.event_name != 'workflow_dispatch'
        shell: bash
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            cargo_version=$(grep "^version =" Cargo.toml | head -n1 | cut -d'"' -f2)
            tag_version="${GITHUB_REF#refs/tags/v}"
            if [[ "$tag_version" != "$cargo_version" ]]; then
              echo "Tag version ($tag_version) does not match Cargo.toml version ($cargo_version)"
              exit 1
            fi
          fi
      - name: Create GitHub release
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} --draft --prerelease --verify-tag --title ${{ steps.get_version.outputs.version }}

  build-release:
    name: build-release
    needs: ['create-release']
    runs-on: ${{ matrix.os }}

    env:
      # For some builds, we use cross to test on 32-bit and big-endian
      # systems.
      CARGO: cargo
      # When CARGO is set to 'cross', this is set to '--target'.
      TARGET_FLAGS: ""
      # When CARGO is set to 'cross', TARGET_DIR includes matrix.target.
      TARGET_DIR: ./target
      # Bump this as appropriate. We pin to a version to make sure CI
      # continues to work as cross releases in the past have broken things
      # in subtle ways.
      CROSS_VERSION: v0.2.5
      # Emit backtraces on panics.
      RUST_BACKTRACE: 1
    strategy:
      fail-fast: false
      matrix:
        build: [linux, linux-arm, linux-armv7, linux-armv6, macos, macos-arm, win-msvc, win32-msvc]
        include:
        - build: linux
          os: ubuntu-latest
          rust: stable
          target: x86_64-unknown-linux-musl
          strip: x86_64-linux-musl-strip
        - build: linux-arm
          os: ubuntu-latest
          rust: stable
          target: aarch64-unknown-linux-musl
          strip: aarch64-linux-musl-strip
          qemu: qemu-aarch64
        - build: linux-armv7
          os: ubuntu-latest
          rust: stable
          target: armv7-unknown-linux-musleabihf
          strip: arm-linux-musleabihf-strip
          qemu: qemu-arm
        - build: linux-armv6
          os: ubuntu-latest
          rust: stable
          target: arm-unknown-linux-gnueabihf
          strip: arm-linux-gnueabihf-strip
          qemu: qemu-arm
        - build: macos
          os: macos-latest
          rust: stable
          target: x86_64-apple-darwin
        - build: macos-arm
          os: macos-latest
          rust: stable
          target: aarch64-apple-darwin
        - build: win-msvc
          os: windows-latest
          rust: stable
          target: x86_64-pc-windows-msvc
        - build: win32-msvc
          os: windows-latest
          rust: stable
          target: i686-pc-windows-msvc

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
        targets: ${{ matrix.target }}

    - name: Rust Cache
      uses: swatinem/rust-cache@v2

    - name: Use Cross
      if: matrix.os == 'ubuntu-latest' && matrix.target != ''
      shell: bash
      run: |
        # In the past, new releases of 'cross' have broken CI. So for now, we
        # pin it. We also use their pre-compiled binary releases because cross
        # has over 100 dependencies and takes a bit to compile.
        dir="$RUNNER_TEMP/cross-download"
        mkdir "$dir"
        echo "$dir" >> $GITHUB_PATH
        cd "$dir"
        curl -LO "https://github.com/cross-rs/cross/releases/download/$CROSS_VERSION/cross-x86_64-unknown-linux-musl.tar.gz"
        tar xf cross-x86_64-unknown-linux-musl.tar.gz
        echo "CARGO=cross" >> $GITHUB_ENV
        
        # Force using more recent images to avoid glibc issues with newer crates
        cd "$GITHUB_WORKSPACE"
        echo "[target.${{ matrix.target }}]" > Cross.toml
        echo "image = \"ghcr.io/cross-rs/${{ matrix.target }}:main\"" >> Cross.toml

    - name: Set target variables
      shell: bash
      run: |
        echo "TARGET_FLAGS=--target ${{ matrix.target }}" >> $GITHUB_ENV
        echo "TARGET_DIR=./target/${{ matrix.target }}" >> $GITHUB_ENV
        if [[ "${{ matrix.os }}" == windows-* ]]; then
          bin="target/${{ matrix.target }}/release/side-eye-host.exe"
        else
          bin="target/${{ matrix.target }}/release/side-eye-host"
        fi
        echo "BIN=$bin" >> $GITHUB_ENV
        
    - name: Show command used for Cargo
      run: |
        echo "cargo command is: ${{ env.CARGO }}"
        echo "target flag is: ${{ env.TARGET_FLAGS }}"
        echo "target dir is: ${{ env.TARGET_DIR }}"
        echo "bin is: ${{ env.BIN }}"

    - name: Setup Custom Cross Image
      if: matrix.build == 'linux-armv6'
      working-directory: host
      run: |
        # Create the Dockerfile on the fly
        echo "FROM ghcr.io/cross-rs/arm-unknown-linux-gnueabihf:main" > Dockerfile.custom
        echo "USER root" >> Dockerfile.custom
        echo "RUN apt-get update && apt-get install -y binutils-arm-linux-gnueabihf libudev-dev pkg-config" >> Dockerfile.custom
        echo "ENV PKG_CONFIG_PATH=/usr/lib/arm-linux-gnueabihf/pkgconfig/" >> Dockerfile.custom
        # Create Cross.toml on the fly
        echo "[target.arm-unknown-linux-gnueabihf]" > Cross.toml
        echo "dockerfile = \"./Dockerfile.custom\"" >> Cross.toml
        echo "[target.aarch64-unknown-linux-gnu.env]" >> Cross.toml
        echo "passthrough = [" >> Cross.toml
        echo "\"PKG_CONFIG_PATH\"" >> Cross.toml
        echo "]" >> Cross.toml
        
    - name: Build release binary
      shell: bash
      working-directory: host
      run: |
        ${{ env.CARGO }} build --release --verbose ${{ env.TARGET_FLAGS }}

    - name: Strip release binary (macos)
      working-directory: host
      if: matrix.build == 'macos' || matrix.build == 'macos-arm'
      run: strip "${{ env.BIN }}"

    - name: Strip release binary (cross)
      if: matrix.build == 'linux' || matrix.build == 'linux-arm' || matrix.build == 'linux-armv7'
      working-directory: host
      shell: bash
      run: |
        pwd && \
        ls && \
        docker run --rm -v \
          "$PWD/target:/target:Z" \
          "ghcr.io/cross-rs/${{ matrix.target }}:main" \
          "${{ matrix.strip }}" \
          "/$BIN"

    - name: Strip release binary (cross)
      if: matrix.build == 'linux-armv6'
      shell: bash
      working-directory: host
      run: |
        pwd && \
        ls && \
        docker run --rm -v \
          "$PWD/target:/target:Z" \
          --entrypoint /bin/sh \
          "ghcr.io/cross-rs/${{ matrix.target }}:main" \
          -c "apt-get update && apt-get install -y binutils-arm-linux-gnueabihf && ${{ matrix.strip }} /$BIN"

    - name: Build archive
      shell: bash
      working-directory: host
      run: |
        outdir="${{ env.TARGET_DIR }}/release"
        staging="side-eye-host-${{ needs.create-release.outputs.version }}-${{ matrix.target }}"
        echo "staging is: $staging"
        mkdir -p "$staging"
        
        # Copy binary
        if [ "${{ matrix.os }}" = "windows-latest" ]; then
          cp "$outdir/side-eye-host.exe" "$staging/"
        else
          cp "$outdir/side-eye-host" "$staging/"
        fi

        # Copy other files
        cp {../README.md,../LICENSE} "$staging/"
        
        # Compress
        if [ "${{ matrix.os }}" = "windows-latest" ]; then
          7z a "$staging.zip" "$staging"
          certutil -hashfile "$staging.zip" SHA256 > "$staging.zip.sha256"
          echo "ASSET=$staging.zip" >> $GITHUB_ENV
          echo "ASSET_SUM=$staging.zip.sha256" >> $GITHUB_ENV
        else
          tar czf "$staging.tar.gz" "$staging"
          shasum -a 256 "$staging.tar.gz" > "$staging.tar.gz.sha256"
          echo "ASSET=$staging.tar.gz" >> $GITHUB_ENV
          echo "ASSET_SUM=$staging.tar.gz.sha256" >> $GITHUB_ENV
        fi

    # - name: Upload release archive
    #   uses: softprops/action-gh-release@v2
    #   if: github.ref_type == 'tag'
    #   with:
    #     files: |
    #       ${{ env.ASSET }}
    #       ${{ env.ASSET_SUM }}
    #     draft: true

  
