name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-host-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install libudev
        run: sudo apt-get update && sudo apt-get install -y libudev-dev

      - name: Install Packaging Tools
        run: |
          cargo install cargo-deb
          cargo install cargo-generate-rpm

      - name: Build Release
        run: cargo build --release --locked
        working-directory: host

      - name: Build Debian Package
        run: cargo deb
        working-directory: host

      - name: Build RPM Package
        run: cargo generate-rpm
        working-directory: host

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: host-packages
          path: |
            host/target/debian/*.deb
            host/target/generate-rpm/*.rpm
